

<!DOCTYPE html>
<html>
<head>
    <title>Web scrapper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<h2>Welcome to the Homepage!!!</h2>
	<br>
	<h4>About:</h4>	
	<h6> - This scrapper Application is crawling "https://coschedule.com/blog/content-gap-analysis-template/" Blog website and tag is related to CATEGORIES in this website </h6>
	<style>
  .bottom-three {
     margin-bottom: 30cm;
  }
</style>
	<center>
	
	<p></p>
    <form method="post" action="{% url 'blog_list' %}">{% csrf_token %}
    	<input type="text" name="myvalue">
    		
    	<input type="submit" value="submit">
    	

    </form>
    
        	
        
    
    </div>
    <h2> please Enter any one TAGS given bellow </h2>
	<p>social-media</p>
	<p>content-marketing</p>
	<p>email-marketing</p>
	<p>project-management</p>
	<p>workflow</p>
	<p>analytics</p>
	<p>product</p>
	<p>customer-marketing</p>
	<p>thought-leadership</p>

	</center>
    <div class="container">
        
 
 
</div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    
</body>
</html>